<!doctype html>
<html>
<head>
	<meta charset="utf-8">

	<title>expenseShare</title>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">

	<!-- build:css css/style.css -->
	<link rel="stylesheet" href="/css/icons-embedded.css">
	<link rel="stylesheet" href="/css/animate-custom.css">
	<link rel="stylesheet" href="/css/style.css">
	<!-- endbuild -->
</head>
<body>

<noscript>
	Please enable Javascript!
</noscript>


<div id="app">

</div>

<!-- Templates start here -->

<script type="text/template" id="app-template">
	<div class="gridBox mainView"></div>
	<div class="gridBox transferView"></div>
	<div class="gridBox sideView"></div>
</script>

<script type="text/template" id="module-template">
	<header class="module-header"><h1><%= title %></h1></header>
	<div class="module-body"><%= typeof body !== 'undefined' ? body : '' %></div>
</script>

<script type="text/template" id="login-template">
	<form>
		<header class="module-header"><h1>Login</h1></header>
		<div class="module-body hasBar">
			<label class="row">
				<span class="visuallyhidden">Username: </span>
				<input type="text" class="login-username" placeholder="Username" autocorrect="off" autocapitalize="off">
			</label>
			<label class="row">
				<span class="visuallyhidden">Password: </span>
				<input type="password" class="login-password" placeholder="Password">
			</label>
		</div>
		<div class="module-buttonBar">
			<button class="confirm">Login</button>
		</div>
	</form>
</script>

<script type="text/template" id="app-expenses-template">
	<header class="module-header"></header>

	<h2 class="visuallyhidden">Expenses</h2>
	<div class="scroll-wrapper">
		<section class="module-body month-expenses">
			<a class="month-new row" href="/expenses/new">
				<span class="visuallyhidden">Add new Expense</span>
				<span class="icon-plus" aria-hidden="true"></span>
			</a>
			<ul class="month-expense-list list tabular expense-list"></ul>
		</section>
	</div>

	<h2 class="visuallyhidden">Transfers</h2>
	<section class="module-body month-transfers">

	</section>
	

	<div class="module-buttonBar">
		<button class="month-toggle">
			<span class="month-showTransfers">Show Results</span>
			<span class="month-showExpenses">Show Expenses</span>
		</button>
	</div>
</script>

<script type="text/template" id="app-expenses-header-template">
	<h1><%= title %></h1>
</script>



<script type="text/template" id="person-collection-template">
	<header class="module-header"><h1>Persons</h1></header>

	<div class="scroll-wrapper">
		<section class="module-body">
			<a class="month-new row" href="/persons/new">
				<span class="visuallyhidden">Create new Person</span>
				<span class="icon-user-add" aria-hidden="true"></span>
			</a>
			<ul class="list"></ul>
		</section>
	</div>
</script>

<script type="text/template" id="person-template">
	<a href="/persons/<%= id %>" class="row"><%= name %></a>
</script>


<script type="text/template" id="person-transfer-group-template">
	<div class="row person-name">
		<%= name %>
	</div>
	<ul class="list tabular transfer-list">
	
	</ul>
</script>

<script type="text/template" id="person-edit-template">
	<header class="module-header">
		<h1><input type="text" class="person-name" value="<%= name %>" placeholder="Enter name"></h1>
		<a href="/persons" class="edit-module-back">
			<span class="visuallyhidden">Back to persons</span>
			<span aria-hidden="true" class="icon-left-open"></span>
		</a>
	</header>

	<div class="module-body">
		<label>
			<span class="row row-checkbox">
				<input type="checkbox" <%=hidden ? "checked" : ""%> class="person-hidden">
				<span class="icon-ok" aria-hidden="true"></span>
			</span>
			<span class="row emphasize">Hidden</span>
		</label>
	</div>

	<div class="module-buttonBar">
		<button class="confirm edit-module-persistAndClose">
			<span class="visuallyhidden">Save</span>
			<span aria-hidden="true" class="icon-ok"></span>
		</button>
		<button class="confirm edit-module-persistAndEdit">
			<span class="visuallyhidden">Save</span>
			<span aria-hidden="true" class="icon-ok"></span>
		</button>
		<button class="decline edit-module-discard">
			<span class="visuallyhidden">Discard</span>
			<span aria-hidden="true" class="icon-cancel"></span>
		</button>
	</div>
</script>


<script type="text/template" id="expense-template">
	<a href="/expenses/<%= id %>" class="row emphasize"><%= description %></a>
	<a href="/expenses/<%= id %>" class="row row-amount"><%= app.Util.formatCurrency(amount) %>&thinsp;€</a>
</script>


<script type="text/template" id="expense-edit-template">
		<header class="module-header"></header>
	
		<div class="scroll-wrapper">
			<div class="module-body">
				<ul class="list tabular participation-list"></ul>
			</div>
		</div>
	
		<div class="module-buttonBar">
			<button class="confirm edit-module-persistAndClose">
				<span class="visuallyhidden">Save</span>
				<span aria-hidden="true" class="icon-ok"></span>
			</button>
			<button class="confirm edit-module-persistAndEdit">
				<span class="visuallyhidden">Save</span>
				<span aria-hidden="true" class="icon-ok"></span>
			</button>
			<button class="decline edit-module-discard">
				<span class="visuallyhidden">Discard</span>
				<span aria-hidden="true" class="icon-cancel"></span>
			</button>
		</div>
	
		<div class="module-overlay">
			Sure?
			<div class="module-buttonBar">
				<button class="confirm edit-module-delete">
					<span class="visuallyhidden">Delete</span>
					<span aria-hidden="true" class="icon-ok"></span>
				</button>
				<button class="decline edit-module-hideDelete">
					<span class="visuallyhidden">Cancel</span>
					<span aria-hidden="true" class="icon-cancel"></span>
				</button>
			</div>
		</div>
</script>


<script type="text/template" id="expense-edit-header-template">
	<h1><input type="text" value="<%= description %>" class="expense-description" placeholder="Enter description"></h1>

	<a href="/" class="edit-module-back">
		<span class="visuallyhidden">Back to all expenses</span>
		<span aria-hidden="true" class="icon-left-open"></span>
	</a>
	<button class="edit-module-showDelete right">
		<span class="visuallyhidden">Delete Expense</span>
		<span class="icon-trash" aria-hidden="true"></span>
	</button>
</script>

<script type="text/template" id="participation-template">
	<label class="row row-checkbox">
		<span class="visuallyhidden">Participating: </span>
		<input type="checkbox" class="participation-toggle" <%=participating ? "checked" : ""%> id="participation-toggle-<%= cid %>">
		<span class="icon-ok" aria-hidden="true"></span>
	</label>

	<label class="row emphasize" for="participation-toggle-<%= cid %>"><%= personName %></label>
	
	<label class="row row-amount">
		<span class="visuallyhidden">Amount: </span>
		<input type="number" value="<%= app.Util.formatCurrency(amount) %>" class="participation-amount">&thinsp;€
	</label>
</script>


<script type="text/template" id="app-transfers-template">
	<div class="row amount">
		
	</div>
	<ul class="list transfer-list">
	
	</ul>
</script>

<script type="text/template" id="app-transfers-amount-template">
	Total: <%= app.Util.formatCurrency(amount) %>&thinsp;€
</script>



<script type="text/template" id="transfer-template">
	<div class="row emphasize row-amount" for="paid-toggle-<%= cid %>">
		<%=app.Util.formatCurrency(amount)%>&thinsp;€
	</div>
	
	<div class="row" for="paid-toggle-<%= cid %>">
		to <%= toPersonName %>
	</div> 
</script>

<!--
	TODO Look into minification / concatnation of scripts (buildscript!)
	https://github.com/h5bp/node-build-script
-->


<script src="/socket.io/socket.io.js"></script>

<!-- build:js js/app.js -->
<script src="/js/libs/math.js"></script>
<script src="/js/libs/fastclick.js"></script>
<script src="/js/libs/jquery-1.9.1.js"></script>
<script src="/js/libs/q.js"></script>
<script src="/js/libs/underscore.js"></script>
<script src="/js/libs/backbone.js"></script>
<script src="/js/libs/backbone-relational.js"></script>
<script src="/js/libs/backbone.iosync.js"></script>
<script src="/js/libs/backbone.iobind.js"></script>

<script src="/js/util/Util.js"></script>

<script src="/js/models/App.js"></script>
<script src="/js/models/Expense.js"></script>
<script src="/js/models/Person.js"></script>
<script src="/js/models/Participation.js"></script>
<script src="/js/models/Transfer.js"></script>

<script src="/js/collections/ExpenseCollection.js"></script>
<script src="/js/collections/PersonCollection.js"></script>
<script src="/js/collections/ParticipationCollection.js"></script>
<script src="/js/collections/TransferCollection.js"></script>

<script src="/js/views/AView.js"></script>
<script src="/js/views/WrappingModuleView.js"></script>
<script src="/js/views/AppRootView.js"></script>
<script src="/js/views/AppMainView.js"></script>
<script src="/js/views/ErrorView.js"></script>
<script src="/js/views/LoginView.js"></script>
<script src="/js/views/AppHomeView.js"></script>
<script src="/js/views/AppTransfersView.js"></script>
<script src="/js/views/ExpenseView.js"></script>
<script src="/js/views/ExpenseEditView.js"></script>
<script src="/js/views/PersonView.js"></script>
<script src="/js/views/PersonEditView.js"></script>
<script src="/js/views/PersonTransferGroupView.js"></script>
<script src="/js/views/ParticipationView.js"></script>
<script src="/js/views/TransferView.js"></script>

<script src="/js/views/ACollectionView.js"></script>
<script src="/js/views/ExpenseCollectionView.js"></script>
<script src="/js/views/PersonCollectionView.js"></script>
<script src="/js/views/ParticipationCollectionView.js"></script>
<script src="/js/views/TransferCollectionView.js"></script>

<script src="/js/routers/AppRouter.js"></script>
<!-- endbuild -->

<script>
Q.longStackSupport = true;

// If you're wondering what the heck we're doing here: 
// http://addyosmani.github.io/backbone-fundamentals


$(function () {
	var appModel = new app.App();

	// TODO remove this
	app.persons = appModel.get('persons');

	var esv = new app.AppRootView({
		el: '#app',
		model: appModel,
	});

	esv.render();
	esv.init();

	// DBG
	window.x = {
		appModel: appModel,
		esv: esv,
	};
});
</script>

</body>
</html>
