* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 18px;
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: bold;
	text-shadow: 0px 1px 0px white;
	color: hsl(0, 90%, 45%);
	background: black;

	-webkit-user-select: none;
}
body, html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}


a {
	-webkit-touch-callout: none;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}


.line {
	display: block;
	height: 3rem;
	padding: .2rem .8rem 0;
	line-height: 2.8rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
}
.line.main, strong.line {
	background: hsl(0, 0%, 88%);
	border-bottom: 1px solid hsl(0, 0%, 84%);
}
.line.aside, span.line {
	background: hsl(0, 0%, 93%);
	border-bottom: 1px solid hsl(0, 0%, 90%);
}




.module {
	overflow:hidden;
	position:relative;
	height:100%;
}

.module-header > a {
	position: absolute;
	top: .2rem;
	left: 0;
	width: 3rem;
	text-align: center;
	text-decoration: none;
	color: inherit;
}
/*
Increase touch-target size
.module-header > a:active {
	outline: 5px solid pink;
	height: 5rem;
	width: 5rem;
	z-index: 5;
}*/
.module-header > a:nth-of-type(2) { 
	left: inherit;
	right: 0;
}
.module-header > h1 {
	font-size: 1rem;
	margin: 0 3rem;
	text-align: center;
}


.module-body {
	position: absolute;
	top: 3rem;
	left: 0;
	bottom: 0;
	right: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.scroll-wrapper {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x:hidden;
	-webkit-overflow-scrolling: touch;
}



.list {
	list-style: none;
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 3rem;
}
.list > li {
	display: table-row;
}
.list .line  {
	display: table-cell;
}

.expense-list span.line {
	width: 5.5rem;
	text-align:right;
}

.participation-list span.line {
	width: 3rem;	
}
.participation-list span:nth-child(3).line {
	width: 5.5rem;
}
.participation-list input[type=text] {
	border: 0;
	background: transparent;
	font: inherit;
	color: inherit;
	font-color: inherit;
	text-shadow: inherit;
	width: 3.5rem;
	text-align: right;
}
.participation-list input[type=text]:focus {
	outline: none;
}
