<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<style>
	.invalid {
		text-decoration: line-through;
	}
	</style>
</head>
<body>


<div id="app">
	<div class="app-activeView">
	</div>
	<hr>
	<div class="app-personCollectionView">
	</div>
</div>


<!-- Templates start here -->

<script type="text/template" id="a-module-template">
	<header class="module-header"></header>
	<div class="module-body"></div>
</script>

<script type="text/template" id="month-header-template">
	<h1><%= title %> (<%= amount %>)</h1>
	<p>
		<a href="/month/<%= prevMonth %>">prev</a>
		<a href="/month/<%= nextMonth %>">next</a>
	</p>
	<a href="/month/<%= id %>/createExpense">New</a>
</script>

<script type="text/template" id="month-body-template">
	<div class="expenses"></div>
	<div class="transfers"></div>
</script>

<script type="text/template" id="person-template">
	<input type="text" value="<%= name %>"> <code>#<%= id %></code>
</script>

<script type="text/template" id="expense-template">
	<a href="/expense/<%= id %>"><%= description %> (<%= amount %>)  <code>#<%= id %></code></a>
</script>

<script type="text/template" id="expense-edit-template">
	<header></header>
	<ul></ul>
	<button>Save</button>
</script>

<script type="text/template" id="expense-edit-header-template">
	<h1><input type="text" value="<%= description %>" class="expense-edit-name"> (<%= amount %>) <code>#<%= id %></code></h1>
	<p><a href="/month/<%= month %>">back</a></p>
</script>

<script type="text/template" id="participation-template">
	<%= personName %> <input type="checkbox" <%=participating ? "checked" : ""%>>  <input type="text" value="<%= amount %>">
</script>

<script type="text/template" id="month-transfers-template">
	<% Object.keys(transfers).forEach(function (fromCid) { %>
		<% if (transfers[fromCid] && Object.keys(transfers[fromCid]).length > 0) { %> 
			<p>
				<%= app.persons.get(fromCid).get('name') %> zahlt: 
				<ul>
				<% Object.keys(transfers[fromCid]).forEach(function (toCid) { %>
					<li><%= transfers[fromCid][toCid] %> an <%= app.persons.get(toCid).get('name') %>
				<% }); %>
				</ul>
			</p>
		<% } %>
	<% }); %>
</script>

<!--
	TODO Look into minification / concatnation of scripts (buildscript!)
	https://github.com/h5bp/node-build-script
-->

<script src="/js/libs/jquery-1.9.1.js"></script>
<script src="/js/libs/underscore.js"></script>
<script src="/js/libs/backbone.js"></script>
<script src="/js/libs/backbone-relational.js"></script>

<script src="/js/util/Util.js"></script>

<script src="/js/models/Month.js"></script>
<script src="/js/models/Expense.js"></script>
<script src="/js/models/Person.js"></script>
<script src="/js/models/Participation.js"></script>

<script src="/js/collections/ExpenseCollection.js"></script>
<script src="/js/collections/PersonCollection.js"></script>
<script src="/js/collections/ParticipationCollection.js"></script>

<script src="/js/views/AView.js"></script>
<script src="/js/views/AppView.js"></script>
<script src="/js/views/MonthView.js"></script>
<script src="/js/views/MonthTransfersView.js"></script>
<script src="/js/views/ExpenseView.js"></script>
<script src="/js/views/ExpenseEditView.js"></script>
<script src="/js/views/PersonView.js"></script>
<script src="/js/views/ParticipationView.js"></script>

<script src="/js/views/ACollectionView.js"></script>
<script src="/js/views/ExpenseCollectionView.js"></script>
<script src="/js/views/PersonCollectionView.js"></script>
<script src="/js/views/ParticipationCollectionView.js"></script>

<script src="/js/routers/AppRouter.js"></script>

<script>
// If you're wondering what the heck we're doing here: 
// http://addyosmani.github.io/backbone-fundamentals


$(function () {
	app.persons = new app.PersonCollection();

	app.appView = new app.AppView({
		el: '#app'
	});

	app.appView.render();

	app.appRouter = new app.AppRouter();
	Backbone.history.start({pushState: true});

	x = app.Month.findOrCreate({id: '2013-05'});

	app.persons.fetch()
		.then(function () {
			return x.fetch();
		})
		.then(function () {
			return $.when.apply(this, x.fetchRelated('expenses'));
		})
		.then(function () {
			return x.get('expenses').reduce(function (memo, expense) {
				return $.when.apply(this, expense.fetchRelated('participations').concat(memo));
			}, {});
		})
		.then(function () {

			console.log('finish\'d', arguments);
		}, function () {
			console.log('fail\'d', arguments);
		})
	;
		
});
</script>

</body>
</html>
