<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>


<div id="app">

</div>


<!-- Templates start here -->

<script type="text/template" id="person-template">
	<i><%= name %></i> <code>#<%= id %></code>
</script>

<script type="text/template" id="month-template">
	<u><%= id %> (<%= totalAmount %>)</u>
	<ul></ul>
</script>

<script type="text/template" id="expense-template">
	<b><%= description %> (<%= amount %>)  <code>#<%= id %></code></b>
</script>

<script type="text/template" id="expense-edit-template">
	<header></header>
	<ul></ul>
</script>

<script type="text/template" id="expense-edit-header-template">
	<u><%= description %> (<%= amount %>) </u> <code>#<%= id %></code> <br>
</script>

<script type="text/template" id="participation-template">
	<input type="checkbox" <%=participating ? "checked" : ""%>>  <input type="text" value="<%= amount %>">
</script>


<!--
	TODO Look into minification / concatnation of scripts (buildscript!)
	https://github.com/h5bp/node-build-script
-->

<script src="js/libs/jquery-1.9.1.js"></script>
<script src="js/libs/underscore.js"></script>
<script src="js/libs/backbone.js"></script>
<script src="js/libs/backbone-relational.js"></script>

<script src="js/models/Month.js"></script>
<script src="js/models/Expense.js"></script>
<script src="js/models/Person.js"></script>
<script src="js/models/Participation.js"></script>

<script src="js/collections/ExpenseList.js"></script>
<script src="js/collections/PersonList.js"></script>
<script src="js/collections/ParticipationList.js"></script>

<script src="js/views/AppView.js"></script>
<script src="js/views/MonthView.js"></script>
<script src="js/views/ExpenseView.js"></script>
<script src="js/views/ExpenseEditView.js"></script>
<script src="js/views/PersonView.js"></script>
<script src="js/views/ParticipationView.js"></script>

<script src="js/views/AListView.js"></script>
<script src="js/views/ExpenseListView.js"></script>
<script src="js/views/PersonListView.js"></script>
<script src="js/views/ParticipationListView.js"></script>


<script>
// If you're wondering what the heck we're doing here: 
// http://addyosmani.github.io/backbone-fundamentals


$(function () {
	app.persons = new app.PersonList();

	app.appView = new app.AppView({
		el: '#app'
	});

	app.appView.render();


	x = app.Month.findOrCreate({id: '2013-05'});

	app.persons.fetch()
		.then(function () {
			return x.fetch();
		})
		.then(function () {
			return $.when.apply(this, x.fetchRelated('expenses'));
		})
		.then(function () {
			return x.get('expenses').reduce(function (memo, expense) {
				return $.when.apply(this, expense.fetchRelated('participations').concat(memo));
			}, {});
		})
		.then(function () {
			console.log('finish\'d', arguments);
		}, function () {
			console.log('fail\'d', arguments);
		})
	;
		
});
</script>

</body>
</html>