<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>


<div id="app">

</div>


<!-- Templates start here -->

<script type="text/template" id="person-template">
	<i><%= name %></i> <code>#<%= id %></code>
</script>

<script type="text/template" id="expense-template">
	<b><%= description %> (<%= amount %>)  <code>#<%= id %></code></b>
</script>

<script type="text/template" id="expense-edit-template">
	<header></header>
	<ul></ul>
</script>

<script type="text/template" id="expense-edit-header-template">
	<u><%= description %> (<%= amount %>) </u> <code>#<%= id %></code> <br>
	<input type="date" value="<% var d = new Date(date); print(d.getFullYear() + '-' + d.getMonth()+1 + '-' + d.getDate()) %>">
</script>

<script type="text/template" id="participation-template">
	<input type="checkbox" <%=participating ? "checked" : ""%>> <%= person.get('name') %> <input type="text" value="<%= amount %>">
</script>


<!--
	TODO Look into minification / concatnation of scripts (buildscript!)
	https://github.com/h5bp/node-build-script
-->

<script src="js/libs/jquery-1.9.1.js"></script>
<script src="js/libs/underscore.js"></script>
<script src="js/libs/backbone.js"></script>
<script src="js/libs/backbone-relational.js"></script>

<script src="js/models/Expense.js"></script>
<script src="js/models/Person.js"></script>
<script src="js/models/Participation.js"></script>

<script src="js/collections/ExpenseList.js"></script>
<script src="js/collections/PersonList.js"></script>
<script src="js/collections/ParticipationList.js"></script>

<script src="js/views/AppView.js"></script>
<script src="js/views/ExpenseView.js"></script>
<script src="js/views/ExpenseEditView.js"></script>
<script src="js/views/PersonView.js"></script>
<script src="js/views/ParticipationView.js"></script>

<script src="js/views/AListView.js"></script>
<script src="js/views/ExpenseListView.js"></script>
<script src="js/views/PersonListView.js"></script>
<script src="js/views/ParticipationListView.js"></script>


<script>
// If you're wondering what the heck we're doing here: 
// http://addyosmani.github.io/backbone-fundamentals


$(function () {
	app.expenses = new app.ExpenseList();
	app.persons = new app.PersonList();

	app.appView = new app.AppView({
		el: '#app'
	});

	app.appView.render();
});
</script>

</body>
</html>